RECALLAI_API_URL=https://us-west-2.recall.ai/api/v1/bot
RECALLAI_API_TOKEN=your_api_token_here
MEETING_URL=your_zoom_meeting_url_here
BOT_NAME=ScabBot
SCREENSHARE_WEBPAGE_URL=https://recallai-demo.netlify.app?wss=wss://your_server_ngrok_url
#SCREENSHARE_WEBPAGE_URL=https://your_custom_web_page_url/?wss=wss://your_server_ngrok_url
