RECALLAI_API_URL=https://us-west-2.recall.ai/api/v1/bot
RECALLAI_API_TOKEN=your_api_token_here
MEETING_URL=your_zoom_meeting_url_here
VITE_BOT_NAME=ScabBot
SCREENSHARE_WEBPAGE_URL=https://recallai-demo.netlify.app?wss=wss://your_server_ngrok_domain_here
#SCREENSHARE_WEBPAGE_URL=https://bloombar.github.io/bloombot-on-strike/?wss=wss://your_server_ngrok_domain_here
# SCREENSHARE_WEBPAGE_URL=http://localhost:5173/?wss=ws://localhost:8001&course=Software+Engineering
VITE_LIVEAVATAR_API_URL=https://api.liveavatar.com
