RECALLAI_API_URL=https://us-west-2.recall.ai/api/v1/bot
RECALLAI_API_TOKEN=your_api_token_here
MEETING_URL=your_zoom_meeting_url_here
BOT_NAME=ScabBot
#SCREENSHARE_WEBPAGE_URL=https://recallai-demo.netlify.app?wss=wss://garbless-willetta-fortyish.ngrok-free.dev&url=https%3A%2F%2Fknowledge.kitchen%2Fcontent%2Fcourses%2Fsoftware-engineering%2Fslides%2Fbuild-tools%2F%231
#SCREENSHARE_WEBPAGE_URL=http://localhost:5173/?wss=ws://localhost:8001&course=Software+Engineering&url=https%3A%2F%2Fknowledge.kitchen%2Fcontent%2Fcourses%2Fsoftware-engineering%2Fslides%2Fbuild-tools%2F%231
SCREENSHARE_WEBPAGE_URL=https://bloombar.github.io/bloombot-on-strike/?wss=wss://garbless-willetta-fortyish.ngrok-free.dev&course=Software+Engineering&url=https%3A%2F%2Fknowledge.kitchen%2Fcontent%2Fcourses%2Fsoftware-engineering%2Fslides%2Fbuild-tools%2F%231
VITE_LIVEAVATAR_API_KEY=your_liveavatar_api_key_here
