OPENAI_API_KEY=your_openai_api_key_here
PORT=8001
OPENAI_DEFAULT_MODEL=gpt-4o
LIVEAVATAR_API_URL=https://api.liveavatar.com
LIVEAVATAR_API_KEY=your_liveavatar_api_key_here
LIVEAVATAR_SANDBOX_MODE=true
LIVEAVATAR_AVATAR_ID=dd73ea75-1218-4ef3-92ce-606d5f7fbc0a
LIVEAVATAR_VOICE_ID=864a26b8-bfba-4435-9cc5-1dd593de5ca7
LIVEAVATAR_CONTEXT_ID=ce85226d-1d53-48a8-9b56-efccce8c0f90
MODE=development