# Express server URL... use ngrok for local testing
SERVER_URL=http://localhost:3010 # update ngrok URL as necessary while testing... change to permanent URL when deployed
SERVER_PORT=3010 # update as necessary

# Required: Meeting join settings
ZOOM_BOT_DISPLAY_NAME=Bloombot-on-Strike
ZOOM_MEETING_NUMBER=12345678901 # change to real meeting ID as int
ZOOM_MEETING_PASSWORD=meeting_passcode # optional

# Optional: Zoom OAuth app credentials for install/authorization flow
ZOOM_OAUTH_CLIENT_ID=your_oauth_client_id # from Zoom app configuration dashboard
ZOOM_OAUTH_CLIENT_SECRET=your_oauth_client_secret # from Zoom app configuration dashboard
ZOOM_OAUTH_REDIRECT_URI=http://localhost:3010/oauth/zoom/callback # route on custom server where authentication is handled

# Secret token Zoom sends in each event notification to the app.
ZOOM_SECRET_TOKEN=your_zoom_secret_token
ZOOM_ROLE=0 # 0 for participant, 1 for host (if using a licensed account with host privileges)

# Optional server/bot settings
LEAVE_URL=https://zoom.us # where web user will be redirected after leaving the meeting

# Chromium and webdriver for browser automation
CHROMIUM_PATH=/usr/bin/chromium # must be installed separately

# Log files
TRANSCRIPT_LOG_PATH=./logs/transcription.log
CHAT_LOG_PATH=./logs/chat-messages.log
